<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="D:\STSworkspace\showMeTheMovie\src\main\webapp\resources\css\megabox.min.css"
	rel="stylesheet">
	<link
	href="D:\STSworkspace\showMeTheMovie\src\main\webapp\resources\css\main.css"
	rel="stylesheet">
<link
	href="D:\STSworkspace\showMeTheMovie\src\main\webapp\resources\css\custom.css"
	rel="stylesheet">
</head>
<body>
<div class="container main-container area-ad">
	<div class="container">
		<div class="main-page">
	<div id="main_section01" class="section main-movie">
		<div class="bg">
			<div class="bg-pattern"></div>
			<img
				src="https://img.megabox.co.kr/SharedImg/2020/02/14/BJ4fa4uF619oFERjOyuxvVYzvOeYDSYV_380.jpg"
				alt="다크워터스_티저포스터.jpg" onerror="noImg(this, 'main');">
		</div>

		<!-- cont-area  -->
		<div class="cont-area">

			<!-- tab-sorting -->
			<div class="tab-sorting">
				<button type="button" class="on" sort="boxoRankList" name="btnSort">박스오피스순</button>
				<button type="button" sort="accmAdncList" name="btnSort">누적관객순</button>
				<button type="button" sort="megaScoreList" name="btnSort">메가스코어순</button>
			</div>
			<!-- tab-sorting -->

			<a href="/movie" class="more-movie" title="더 많은 영화보기"> 더 많은 영화보기
				<i class="iconset ico-more-corss gray"></i>
			</a>

			<!-- main-movie-list -->
			<div class="main-movie-list">
				<ol class="list">
					<!-- 3개의 list를  loop 한다-->
					<!-- 박스오피스 시작 -->
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_accmAdncList" style="display: none;" class="first">
						<a href="javascript:gfn_moveDetail('01550200')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								1<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/asis/system/mop/poster/2019/07/F2B772-860E-4A3B-873C-F9E1C8C47966.large.jpg"
							alt="기생충" class="poster" onerror="noImg(this, 'main');">
							<div class="wrap">
								<div class="summary">
									“폐 끼치고 싶진 않았어요”<br>
									<br>전원백수로 살 길 막막하지만 사이는 좋은 기택(송강호) 가족.<br>장남
									기우(최우식)에게 명문대생 친구가 연결시켜 준 고액 과외 자리는<br>모처럼 싹튼 고정수입의 희망이다.<br>온
									가족의 도움과 기대 속에 박사장(이선균) 집으로 향하는 기우.<br>글로벌 IT기업 CEO인 박사장의
									저택에 도착하자<br>젊고 아름다운 사모님 연교(조여정)가 기우를 맞이한다.<br>
									<br>그러나 이렇게 시작된 두 가족의 만남 뒤로, 걷잡을 수 없는 사건이 기다리고 있었으니…
								</div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											7.5<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign big">보다 작다</span>
									<!-- 관람 후가 더 높을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											9.3<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="01550200">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								11k
							</button>
							<div class="case">
								<!-- 개봉 예매가능 기본-->
								<a href="javascript:moveBokdPage('01550200');"
									class="button gblue" title="영화 예매하기">예매</a>
							</div>
						</div>
					</li>
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_accmAdncList" style="display: none;" class=""><a
						href="javascript:gfn_moveDetail('01677500')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								2<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/asis/system/mop/poster/2020/45/7CC62E-B845-44D8-AC0A-7E994F91F506.large.jpg"
							alt="남산의 부장들" class="poster" onerror="noImg(this, 'main');">
							<div class="wrap">
								<div class="summary">
									“각하, 제가 어떻게 하길 원하십니까”<br>
									<br>1979년 10월 26일, 중앙정보부장 김규평(이병헌)이 대한민국 대통령을 암살한다.<br>
									<br>이 사건의 40일전, 미국에서는 전 중앙정보부장 박용각(곽도원)이<br>청문회를 통해 전
									세계에 정권의 실체를 고발하며 파란을 일으킨다.<br>그를 막기 위해 중앙정보부장 김규평과 경호실장
									곽상천(이희준)이 나서고,<br>대통령 주변에는 충성 세력과 반대 세력들이 뒤섞이기 시작하는데…<br>
									<br>흔들린 충성, 그 날의 총성
								</div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											6.8<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign big">보다 작다</span>
									<!-- 관람 후가 더 높을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											8.5<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="01677500">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								6.2k
							</button>
							<div class="case">
								<!-- 개봉 예매가능 기본-->
								<a href="javascript:moveBokdPage('01677500');"
									class="button gblue" title="영화 예매하기">예매</a>
							</div>
						</div></li>
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_accmAdncList" style="display: none;" class=""><a
						href="javascript:gfn_moveDetail('01195800')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								3<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/asis/system/mop/poster/2017/23/7F3CBD-E597-4530-9989-BA71DC5B1E74.large.jpg"
							alt="겟 아웃" class="poster" onerror="noImg(this, 'main');">
							<div class="wrap">
								<div class="summary"></div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											9.1<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign small">보다 크다</span>
									<!-- 관람 전이 더 높을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											8.9<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="01195800">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								487
							</button>
							<div class="case">
								<!-- 개봉 예매가능 기본-->
								<a href="javascript:moveBokdPage('01195800');"
									class="button gblue" title="영화 예매하기">예매</a>
							</div>
						</div></li>
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_accmAdncList" style="display: none;" class=""><a
						href="javascript:gfn_moveDetail('01681500')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								4<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/asis/system/mop/poster/2020/45/FE3E8F-2BF8-4720-8A56-E625A3326173.large.jpg"
							alt="정직한 후보" class="poster" onerror="noImg(this, 'main');">
							<div class="wrap">
								<div class="summary">
									어제까진 뻥쟁이, 오늘부턴 정직한 후보?!<br>
									<br>거짓말이 제일 쉬운 3선 국회의원 ‘주상숙’에게 청천벽력이 떨어진다.<br>하루아침에
									거짓말은 1도 할 수 없는 ‘진실의 주둥이’를 갖게 된 것!<br>
									<br>최고의 무기인 ‘거짓말’을 잃자<br>그녀의 인생은 송두리째 흔들리게 되는데…<br>
									<br>웃음 빵! 속이 뻥! 뚫리는<br>통쾌한 웃음 폭격이 시작된다!
								</div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											8.4<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign equal">같다</span>
									<!-- 관람 후가 같을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											8.4<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="01681500">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								1.2k
							</button>
							<div class="case">
								<!-- 개봉 예매가능 기본-->
								<a href="javascript:moveBokdPage('01681500');"
									class="button gblue" title="영화 예매하기">예매</a>
							</div>
						</div></li>
					<!-- 박스오피스 종료 -->
					<!-- 박스오피스 시작 -->
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_boxoRankList" class="first"><a
						href="javascript:gfn_moveDetail('20003000')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								1<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/2020/02/21/lczdtI1vz3Dd1ShuXb0iXj8pTJGbh4wa_420.jpg"
							alt="다크 워터스" class="poster" onerror="noImg(this, 'main');">
							<div class="wrap">
								<div class="summary">
									인류의 99%는 이미 중독되었다<br>&lt;스포트라이트&gt; 제작진의 충격 고발 실화<br>
									<br>젖소 190마리의 떼죽음<br>메스꺼움과 고열에 시달리는 사람들<br>기형아들의
									출생<br>그리고, 한 마을에 퍼지기 시작한 중증 질병들...<br>
									<br>대기업의 변호를 담당하는 대형 로펌의 변호사 ‘롭 빌럿’(마크 러팔로)은<br>세계
									최대의 화학기업 듀폰의 독성 폐기물질(PFOA) 유출 사실을 폭로한다. <br>그는 사건을 파헤칠수록
									독성 물질이 프라이팬부터 콘택트렌즈, 아기 매트까지<br>우리 일상 속에 침투해 있다는 끔찍한 사실을
									알게 되고<br>자신의 커리어는 물론 아내 ‘사라’(앤 해서웨이)와 가족들,<br>모든 것을 건
									용기 있는 싸움을 시작한다.<br>
									<br>대한민국에서도 일어나고 있는 현재진행형 실화가 공개된다
								</div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											9.4<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign small">보다 크다</span>
									<!-- 관람 전이 더 높을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											8.7<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="20003000">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								310
							</button>
							<div class="case">
								<!-- 개봉 예매가능 기본-->
								<a href="javascript:moveBokdPage('20003000');"
									class="button gblue" title="영화 예매하기">예매</a>
							</div>
						</div></li>
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_boxoRankList" class=""><a
						href="javascript:gfn_moveDetail('20000400')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								2<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/2020/02/07/jO2LnVNFJxLzAL62WxHjDUBKbtPcV8ET_420.jpg"
							alt="시원찮은 그녀를 위한 육성방법 피날레" class="poster"
							onerror="noImg(this, 'main');">
							<div class="wrap">
								<div class="summary">
									어느 봄날, 아키 토모야는 벚꽃이 흩날리는 언덕길에서 운명적으로 만난 소녀 '카토 메구미'를 메인 히로인으로
									삼아서 동인 게임을 제작하기로 마음을 먹는다.<br>미술부 소속이지만 동인 일러스트레이터로도 활동 중인
									‘사와무라 스펜서 에리리’, 우등생이면서 라이트노벨 작가로도 활약하고 있는 3학년 선배 ‘카스미가오카 우타하’를
									영입한 그는, 게임 제작 동아리 ‘블레싱 소프트웨어’를 결성해서 시행착오 끝에 첫 작품을 발표한다ㅡ.<br>에리리와
									우타하는 인기 크리에이터 코사카 아카네가 기획을 맡은 대작 게임 [필즈 크로니클]의 개발 멤버로 스카우트된다.<br>한편
									블레싱 소프트웨어 대표인 토모야는 서클 활동을 이어 나가면서 일러스트레이터인 하시마 이즈미, 프로듀서인 하시마
									이오리, 음악 밴드 아이시 테일의 효도 미치루, 그리고 부대표 메구미와 함께 신작 게임의 개발을 시작하는데…
								</div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											8.8<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign big">보다 작다</span>
									<!-- 관람 후가 더 높을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											9.4<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="20000400">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								520
							</button>
							<div class="case">
								<!-- 개봉 예매가능 기본-->
								<a href="javascript:moveBokdPage('20000400');"
									class="button gblue" title="영화 예매하기">예매</a>
							</div>
						</div></li>
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_boxoRankList" class=""><a
						href="javascript:gfn_moveDetail('01685000')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								3<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/2020/02/21/IyeZJvAzV3QgEoW4F7HzdS97zfLYfcni_420.jpg"
							alt="1917" class="poster" onerror="noImg(this, 'main');">
							<div class="wrap" style="display: none; opacity: 1;">
								<div class="summary">
									두 명의 병사, 하나의 미션!<br>그들이 싸워야 할 것은 적이 아니라 시간이었다!<br>
									<br>제1차 세계대전이 한창인 1917년.<br>독일군에 의해 모든 통신망이 파괴된 상황
									속에서<br>영국군 병사 '스코필드'(조지 맥케이)와 '블레이크'(딘-찰스 채프먼)에게 하나의 미션이
									주어졌다.<br>
									<br>함정에 빠진 영국군 부대의 수장 '매켄지' 중령(베네딕트 컴버배치)에게<br>'에린무어'
									장군(콜린 퍼스)의 공격 중지 명령을 전하는 것!<br>
									<br>둘은 1600명의 아군과 '블레이크'의 형(리차드 매든)을 구하기 위해<br>전쟁터
									한복판을 가로지르며 사투를 이어가는데...
								</div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											8.4<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign big">보다 작다</span>
									<!-- 관람 후가 더 높을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											8.9<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="01685000">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								1.2k
							</button>
							<div class="case">
								<!-- 개봉 예매가능 기본-->
								<a href="javascript:moveBokdPage('01685000');"
									class="button gblue" title="영화 예매하기">예매</a>
							</div>
						</div></li>
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_boxoRankList" class=""><a
						href="javascript:gfn_moveDetail('01694800')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								4<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/2020/02/25/cH7qHYtiXhvrIwZVNraUkjfGPPUj4M5W_420.jpg"
							alt="인비저블맨" class="poster" onerror="noImg(this, 'main');">
							<div class="wrap" style="display: none; opacity: 1;">
								<div class="summary">
									모든 것을 통제하려는 소시오패스 남자에게서 도망친 세실리아<br>그의 자살 소식과 함께 상속받게 된
									거액의 유산<br>하지만 그날 이후, 누구에게도 보이지 않는 존재가 느껴지기 시작했다!
								</div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											7.6<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign big">보다 작다</span>
									<!-- 관람 후가 더 높을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											8.2<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="01694800">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								380
							</button>
							<div class="case">
								<!-- 개봉 예매가능 기본-->
								<a href="javascript:moveBokdPage('01694800');"
									class="button gblue" title="영화 예매하기">예매</a>
							</div>
						</div></li>
					<!-- 박스오피스 종료 -->
					<!-- 박스오피스 시작 -->
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_megaScoreList" style="display: none;" class="first">
						<a href="javascript:gfn_moveDetail('01674300')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								1<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/asis/system/mop/poster/2019/DD/C041BE-5414-4C37-8CB9-84D7EB06B7D1.large.jpg"
							alt="[싱어롱] 겨울왕국 1+2" class="poster"
							onerror="noImg(this, 'main');">
							<div class="wrap">
								<div class="summary">
									- [싱어롱] &lt;겨울왕국 1+2&gt;는 영화를 관람하며 노래를 따라부르는 관객 참여형 특별상영입니다.<br>-
									일반영화와 같이 조용한 관람을 원하시는 분들은 &lt;겨울왕국 2&gt; 일반 상영 예매를 권합니다. <br>-
									자막상영 영화이며 더빙영화를 원하시는분들은 &lt;겨울왕국2&gt; 일반 상영 예매를 권합니다.<br>
									<br>상영작 : 겨울왕국, 겨울왕국 2<br>
									<br># 겨울왕국 2<br>
									<br>내 마법의 힘은 어디서 왔을까?<br>나를 부르는 저 목소리는 누구지?<br>
									<br>어느 날 부턴가 의문의 목소리가 엘사를 부르고, 평화로운 아렌델 왕국을 위협한다.<br>트롤은
									모든 것은 과거에서 시작되었음을 알려주며 엘사의 힘의 비밀과 진실을 찾아 떠나야한다고 조언한다.<br>
									<br>위험에 빠진 아렌델 왕국을 구해야만 하는 엘사와 안나는 숨겨진 과거의 진실을 찾아<br>크리스토프,
									올라프 그리고 스벤과 함께 위험천만한 놀라운 모험을 떠나게 된다.<br>자신의 힘을 두려워했던 엘사는
									이제 이 모험을 헤쳐나가기에 자신의 힘이 충분하다고 믿어야만 하는데…<br>
									<br>11월, 두려움을 깨고 새로운 운명을 만나다! <br>
									<br># 겨울왕국<br>
									<br>얼어붙은 세상을 녹일 자매가 온다!<br>
									<br>서로가 최고의 친구였던 자매 ‘엘사’와 ‘안나’. 하지만 언니 ‘엘사’에게는 하나뿐인 동생에게조차
									말 못할 비밀이 있다. 모든 것을 얼려버리는 신비로운 힘이 바로 그것. ‘엘사’는 통제할 수 없는 자신의 힘이
									두려워 왕국을 떠나고, 얼어버린 왕국의 저주를 풀기 위해 ‘안나’는 언니를 찾아 환상적인 여정을 떠나는데……
								</div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											0<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign big">보다 작다</span>
									<!-- 관람 후가 더 높을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											9.7<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="01674300">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								774
							</button>
							<div class="case">
								<!-- 상영예정-->
								<a href="#" class="button gblue" title="상영예정">상영예정</a>
							</div>
						</div>
					</li>
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_megaScoreList" style="display: none;" class=""><a
						href="javascript:gfn_moveDetail('01021400')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								2<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/asis/system/mop/poster/2016/7C/8CE251-BFB8-47BF-B73C-D3EAB4D00BB3.large.jpg"
							alt="스포트라이트" class="poster" onerror="noImg(this, 'main');">
							<div class="wrap">
								<div class="summary">세상을 바꾼 최강의 팀플레이! 미국의 3대 일간지 중 하나인 보스턴
									글로브 내 ‘스포트라이트’팀은 가톨릭 보스턴 교구 사제들의 아동 성추행 사건을 취재한다. 하지만 사건을 파헤치려
									할수록 더욱 굳건히 닫히는 진실의 장벽. 결코 좌절할 수 없었던 끈질긴 ‘스포트라이트’팀은 추적을 멈추지 않고,
									마침내 성스러운 이름 속에 감춰졌던 사제들의 얼굴이 드러나는데… ‘스포트라이트’팀이 추적한 충격적인 스캔들이
									밝혀진다!</div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											0<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign big">보다 작다</span>
									<!-- 관람 후가 더 높을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											9.5<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="01021400">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								498
							</button>
							<div class="case">
								<!-- 개봉 예매가능 기본-->
								<a href="javascript:moveBokdPage('01021400');"
									class="button gblue" title="영화 예매하기">예매</a>
							</div>
						</div></li>
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_megaScoreList" style="display: none;" class=""><a
						href="javascript:gfn_moveDetail('20000400')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								3<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/2020/02/07/jO2LnVNFJxLzAL62WxHjDUBKbtPcV8ET_420.jpg"
							alt="시원찮은 그녀를 위한 육성방법 피날레" class="poster"
							onerror="noImg(this, 'main');">
							<div class="wrap">
								<div class="summary">
									어느 봄날, 아키 토모야는 벚꽃이 흩날리는 언덕길에서 운명적으로 만난 소녀 '카토 메구미'를 메인 히로인으로
									삼아서 동인 게임을 제작하기로 마음을 먹는다.<br>미술부 소속이지만 동인 일러스트레이터로도 활동 중인
									‘사와무라 스펜서 에리리’, 우등생이면서 라이트노벨 작가로도 활약하고 있는 3학년 선배 ‘카스미가오카 우타하’를
									영입한 그는, 게임 제작 동아리 ‘블레싱 소프트웨어’를 결성해서 시행착오 끝에 첫 작품을 발표한다ㅡ.<br>에리리와
									우타하는 인기 크리에이터 코사카 아카네가 기획을 맡은 대작 게임 [필즈 크로니클]의 개발 멤버로 스카우트된다.<br>한편
									블레싱 소프트웨어 대표인 토모야는 서클 활동을 이어 나가면서 일러스트레이터인 하시마 이즈미, 프로듀서인 하시마
									이오리, 음악 밴드 아이시 테일의 효도 미치루, 그리고 부대표 메구미와 함께 신작 게임의 개발을 시작하는데…
								</div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											8.8<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign big">보다 작다</span>
									<!-- 관람 후가 더 높을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											9.4<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="20000400">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								520
							</button>
							<div class="case">
								<!-- 개봉 예매가능 기본-->
								<a href="javascript:moveBokdPage('20000400');"
									class="button gblue" title="영화 예매하기">예매</a>
							</div>
						</div></li>
					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

					<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
					<li name="li_megaScoreList" style="display: none;" class=""><a
						href="javascript:gfn_moveDetail('01694300')"
						class="movie-list-info" title="영화상세 보기">
							<p class="rank">
								4<span class="ir">위</span>
							</p> <!-- to 개발 : alt 값에 영화 제목 출력 --> <img
							src="https://img.megabox.co.kr/SharedImg/2020/02/10/vZBqbvO5prnUcTnNa45VtY0nStlT2zBw_420.jpg"
							alt="작가 미상" class="poster" onerror="noImg(this, 'main');">
							<div class="wrap">
								<div class="summary">
									2차 세계대전 전후의 독일, 삶도 사랑도 혼란하던 시기, 미술학도 쿠르트는 죽은 이모와 같은 이름의 여인 엘리를
									만나 사랑에 빠진다. 사랑과 예술이 무르익을수록 쿠르트는 세상이 숨긴 진실과 가까워지는데.. <br>사랑,
									정치, 예술.. 모든 것이 혼란스럽던 순간, 하나뿐인 진실이 떠오른다
								</div>
								<!--
														관람 전이 더 높을 때
														<div class="my-score small">

														관람 후가 더 높을 때
														<div class="my-score big">

														관람 후가 더 같을 때
														<div class="my-score equal">
													 -->
								<div class="score">
									<div class="preview">
										<p class="tit">기대평</p>
										<p class="number">
											9.4<span class="ir">점</span>
										</p>
									</div>
									<!--
															기대평이 클때
															<span class="sign small">보다 크다</span>

															관람후가 클때
															<span class="sign big">보다 작다</span>

															같을 때
															<span class="sign equal">같다</span>
														 -->
									<span class="sign equal">같다</span>
									<!-- 관람 후가 같을 때 -->
									<div class="review">
										<p class="tit">관람평</p>
										<p class="number">
											9.4<span class="ir">점</span>
										</p>
									</div>
								</div>
							</div>
					</a>
						<div class="btn-util">
							<button type="button" class="button btn-like"
								rpst-movie-no="01694300">
								<i title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray"></i>
								188
							</button>
							<div class="case">
								<!-- 개봉 예매가능 기본-->
								<a href="javascript:moveBokdPage('01694300');"
									class="button gblue" title="영화 예매하기">예매</a>
							</div>
						</div></li>
					<!-- 박스오피스 종료 -->
				</ol>
			</div>
			<!--// main-movie-list -->

			<div class="search-link">
				<div class="cell">
					<div class="search">
						<input type="text" placeholder="영화명을 입력해 주세요" title="영화 검색"
							class="input-text" id="movieName">
						<button type="button" class="btn" id="btnSearch">
							<i class="iconset ico-search-w"></i> 검색
						</button>
					</div>
				</div>

				<div class="cell">
					<a href="/booking/timetable" title="상영시간표 보기"><i
						class="iconset ico-schedule-main"></i> 상영시간표</a>
				</div>
				<div class="cell">
					<a href="/movie" title="박스오피스 보기"><i
						class="iconset ico-boxoffice-main"></i> 박스오피스</a>
				</div>
				<div class="cell">
					<a href="/booking" title="빠른예매 보기"><i
						class="iconset ico-quick-reserve-main"></i> 빠른예매</a>
				</div>
			</div>
			<!-- 2019-02-22 추가 : 마우스 아이콘 영역 추가 -->
			<div class="moving-mouse">
				<!--  <i class="iconset ico-mouse"></i> -->
				<img class="iconset" alt=""
					src="../../../static/pc/images/common/ico/ico-mouse.png"
					style="top: 3px;">
			</div>
			<!--// 2019-02-22 추가 : 마우스 아이콘 영역 추가 -->
		</div>
		<!--// cont-area  -->
	</div>
	</div>
	</div>
</div>
</body>
</html>