
		<header id="header" class="none-ad">
			<h1 class="ci">
				<a href="/" title="MEGABOX 메인으로 가기">MEGABOX : Life Theater</a>
			</h1>

			<!-- 브라우저 다운로드 -->

			<!-- ie-update : ie 9 이하 일때만 출력 -->

			<!--// ie-update : ie 9 이하 일때만 출력 -->
			<!--// 브라우저 다운로드 -->

			<!-- topGnb -->




			<!-- 2019-04-15 마크업 수정 : 고객요청  -->
			<div class="util-area">
				<div class="link-area"></div>
				<div class="right-link" style="">
					<!-- 로그인전 -->
					<div class="before" style="">
						<a href="/login" title="로그인"><b>로그인</b></a> <a href="/signUp"
							title="회원가입"><b>회원가입</b></a>
					</div>
				</div>
			</div>
			<!--// 2019-04-15 마크업 수정 : 고객요청  -->



			<!-- gnb -->
			<!--
        2019-04-15 마크업 수정 : 고객요청
        1뎁스 a 태그에 각각 다른 class 추가
    -->



			<nav id="gnb" class="">
				<ul class="gnb-depth1">
					<li class=""><a href="/movie" class="gnb-txt-movie" title="영화">영화</a>
					</li>
					<li class=""><a href="/booking" class="gnb-txt-reserve"
						title="예매">예매</a></li>
					<li class=""><a href="/theater/list" class="gnb-txt-theater"
						title="극장">극장</a></li>
					<li><a href="/login" class="gnb-txt-event" title="로그인">로그인</a></li>
					<li><a href="/signUp" class="gnb-txt-store" title="회원가입">회원가입</a></li>
					<li><a href="/benefit/membership" class="gnb-txt-benefit"
						title="마이페이지">마이페이지</a></li>
				</ul>
			</nav>
		</header>